body{
background-color: white (255, 192, 203, 0.767);
}
.aclass {
    color: red;
}



#menu:hover {
    color: red;
}

#feedback:hover{
    color: red;
}

#contactUs:hover{
    color: red;
}
#aboutUs:hover{
    color: red;
}

.dclass {
    color: purple;
}

strong + p {
    color: red;
}

.bclass {
    color: purple;
    background-color:lightcyan;
    
}
.cclass {
    color: brown;
    
}