
h1:hover {
    color: red;
}
.aclass:hover {
    color: red;
}

h2 {
    color: blue;
}

.bclass{
    color: deeppink;
}

.cclass {
    color: brown;
}

/*li:first-child{
    color: deepskyblue;
}*/

  /#website-link:link { 
color: black;
}
 #website-link:visited{ 
color: orangered;
} 
p + a {
    color: red;
}

textarea + button {
    color: purple;
}

ol li{
    color: green;
}

ul li {
    color: green;
}

/* ul li { 
    color: red;
/* } */

tr  td{
    color: blue;
}






